body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.savesegment-container {
  padding: 10px;
  overflow-y: auto;
}

.savesegmant-Lefticon {
  padding: 0;
}

.ant-modal-content {
  padding: 0 !important;
  min-height: 100vh;
}

.modal-title {
  background-color: #add8e6;
  color: white;
  padding: 22px 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 67vh;
  overflow-y: auto;
}

/* scrollbar */
.modal-content::-webkit-scrollbar {
  width: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #339474;
  border-radius: 4px;
}

.ant-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ccc !important;
  display: flex;
  align-items: center;
  padding: 20px !important;
}

.footer-CloseBtn {
  background-color: #ffffff;
  color: #ff009d;
  margin-left: 20px;
}

.footer-CloseBtn:hover {
  background-color: #ff009d !important;
}

.footer-Savebtn {
  background-color: #339474;
  color: white;
}

.custom-modal {
  top: 0;
  right: 0;
  height: 100%;
  position: fixed;
}

.segment-instruct {
  font-size: 1.2rem;
  margin: 12px 0;
}

.segment-instruction {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.segment-instruction > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rounded-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green-bg {
  background-color: green;
}
.red-bg {
  background-color: red;
}

.addschemamoreBtn {
  margin-top: 10px;
  border: none;
  color: #339474;
  border-bottom: 1px solid #339474;
  font-weight: bolder;
  padding: 0;
  background: none !important;
  line-height: inherit;
  border-radius: 0;
}

.addschemamoreBtn:hover {
  color: #3eca9c !important;
}

.addedschema {
  border: 1px solid #0072b8;
  border-width: 2px;
  padding: 10px;
}
